# 文件夹
__pycache__/    # Python字节码缓存，自动生成
.idea/          # IDE配置文件，无需版本控制
.vscode/        
instance/       # 数据库文件
static/         # 图片
flask_venv/     # 虚拟环境，环境依赖隔离
static/uploads/ # 用户上传文件，体积大且动态生成

.env   
*.pyw           # Python GUI脚本，运行时生成

start_repo.py   # 启动脚本，可能是临时或本地用
gg.bat          # 自定义批处理，项目无关

cat_code.py
my_files.txt
